<%= render @friend %>

<div>
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary"  %> |
  <%= link_to "Back", friends_path, class:"btn btn-secondary" %>

  <%= button_to "Destroy friend", @friend, method: :delete, class:"btn btn-danger", style:"margin: 5px 0px;" %>
</div>
