<h1>About</h1>
<ul>
  <li>This is a simple application to manage your friends list.</li>
  <li>It allows you to add, edit, and delete friends.</li>
  <li>It also allows you to view your friends list.</li>
  <li>It is built with <b>Ruby on Rails</b> and uses Devise for authentication.</li>
  <li>It is a simple application to demonstrate the use of Devise and Turbo.</li>
  <li>It also uses Bootstrap for styling.</li>
</ul>